* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*html {
  scroll-behavior: smooth;
}*/

body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #555;
}
nav {
  padding: 0 15px;
}
nav a {
  color: white;
  transition: all 1s;
  text-decoration: none;
}

section {
  margin-top: 100px;
  padding-bottom: 60px;
}

a {
  color: white;
  /*transition: all 3s;*/
  text-decoration: none;
}

ul {
  list-style-type: none;
}
dl {
  color: white;
  text-decoration: none;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

h3 {
  font-family: Roboto Mono, monospace;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #999;
  margin-bottom: 40px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.menu {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
.profile {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.main-header {
  background: linear-gradient(
      54deg,
      rgba(74, 76, 179, 0.95) 34%,
      hsla(0, 34%, 71%, 0.95)
    ),
    url("/assets/img/img_bg_header.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.avatar-profile {
  background: url("/assets/img/img_profile_header.jpg");
  border-radius: 5px;
  box-shadow: rgb(96 96 96 / 34%) 0px 0px 27px;
  background-repeat: no-repeat;
  height: 400px;
  width: 320px;
  top: 40px;
  position: relative;
}

.name {
  font-size: 44px;
  line-height: 50px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 10px;
  color: white;
}
.profession {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
  color: white;
}
.name-profession-contact-social dt {
  font-weight: 700;
  float: left;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.4;
}
.name-profession-contact-social dd {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding-left: 100px;
  margin-bottom: 15px;
  margin-inline-start: 40px;
}

.social {
  margin-top: 25px;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.4;
}

i {
  margin-right: 18px;
}

.section-title {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 42px;
  color: #555;
}

.section-info {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #555;
}

.boton-cv {
  margin-top: 25px;
  background-color: #6d56c1;
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  padding: 10px;
  width: 20%;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-weight: 600;
  overflow: hidden;
}

.boton-cv img {
  height: 14px;
  margin-right: 5px;
  margin-bottom: -1px;
}

.school-jobsite-url {
  text-transform: uppercase;
  color: #6d56c1;
  font-size: 14px;
  line-height: 20px;
  font-family: Roboto Mono, monospace;
  font-weight: 700;
  padding-bottom: 5px;
}

.school-jobsite-years {
  font-family: Inconsolata, monospace;
  font-size: 14px;
  line-height: 20px;
  color: #999;
  padding-bottom: 10px;
}

.formation-experience-skills {
  margin-top: 50px;
  margin-bottom: 35px;
}

.curriculum-content {
  margin-left: 30px;
  margin-bottom: 60px;
}

.curriculum-content-block {
  margin-bottom: 25px;
}
.general-skills {
  display: flex;
  flex-direction: column;
}

.skills-block {
  display: flex;
  flex-direction: column;
}
.skills-block-tech {
  display: flex;
  column-gap: 12px;
}
.skills {
  font-family: Inconsolata, monospace;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #555;
  margin-bottom: 12px;
}
.all-skills {
  display: flex;
  column-gap: 60px;
  margin-left: 30px;
}
